img{ border:none;}
.navbar-brand img{height:150%;margin-top: -5px}
/*.img-userlogo{width:40px; margin-top: -15px; }*/
.img-userlogo{width: 30%;height: 30%;margin-top: -5px;}
.form-inline input{width:100%}