<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人简历</title>
    <link rel="stylesheet" href="../static/plugin/bootstrap.css"/>
    <script src="../static/plugin/jquery-3.4.0.min.js"></script>
    <script src="../static/plugin/bootstrap.min.js"></script>
    <script src="../static/plugin/jquery.cookie.js"></script>
</head>
<body>
<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3">
                <img src="../static/images/user_default.jpg" class="img-circle"/>
            </div>
            <div class="col-md-7">
                <p>郑玄词</p>
                <p>Tel：15316006225</p>
                <p>Email:1652277@tongji.edu.cn</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            教育背景
        </div>
        <div class="panel-body">
            <ul>
                <li>同济大学</li>
                <li>计算机科学与技术</li>
                <li>大三在读学生</li>
                <li>绩点：</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            专业技能
        </div>
        <div class="panel-body">
            <ul>
                <li>擅长语言：C++，Python</li>
                <li>CSDN：<a href="https://blog.csdn.net/CoSineZxc">https://blog.csdn.net/CoSineZxc</a></li>
                <li>Github：<a href="https://github.com/CoSineZxc">@CoSineZxc</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            项目经历
        </div>
        <div class="panel-body">
            <ul>
                <li>基于生成式对抗型神经网络的灰度图像着色算法研究及应用
                    <ul>
                        <li>2018.3-2019.3</li>
                        <li>国家级大学生创新创业项目</li>
                        <li>主要负责：
                            <ul>
                                <li>基于卷积神经网络的灰度图像着色模型前期研究</li>
                                <li>基于Django框架的前端网站搭建</li>
                            </ul>
                        </li>
                        <div align=center>
                            <img style="width:400px;height:240px" src="../static/images/bgimage.jpg" align=center/>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            获得奖项
        </div>
        <div class="panel-body">
            <ul>
                <li>2016-2017学年 校三等奖学金</li>
                <li>2017-2018学年 社会活动奖学金</li>
                <li>2018年全国大学生数学建模竞赛 上海市三等奖</li>
                <li>2019年“挑战杯”全国大学生课外学术科技作品竞赛 校一等奖</li>
                <li>2017-2018学年优秀志愿者</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
