<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="../static/plugin/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script src="../static/plugin/jquery-3.4.0.min.js"></script>
    <script src="../static/plugin/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <!--导航栏-->
    <div class="navbar navbar-default">
        <div class="col-md-2">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><img src="../static/images/logo_tran.jpg"/></a>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">单词书</a></li>
                <li><a href="#">单词本</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login">退出登录</a></li>
                <li><a href="#">用户名</a></li>
                <li><a href="#"><img src="../static/images/user_default.jpg" class="img-circle img-userlogo"/></a></li>
            </ul>
        </div>
    </div>
    <!--用户基本信息栏-->
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3">
                    <img src="../static/images/user_default.jpg" class="img-circle">
                </div>
                <div class="col-md-7">
                    <p>用户名：</p>
                    <p>个性签名：</p>
                </div>
                <div class="col-md-2">
                    <a class="small" data-toggle="modal" data-target="#ChgUserInfo">
                        编辑个人信息
                    </a>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="ChgUserInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        用户信息修改
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>修改头像</label>
                                            <input type="file" class="form-control" placeholder="选择新头像"/>
                                        </div>
                                        <div class="form-group">
                                            <label>修改用户名</label>
                                            <input type="text" class="form-control" placeholder="输入新昵称">
                                        </div>
                                        <div class="form-group">
                                            <label>修改个性签名</label>
                                            <input type="text" class="form-control" placeholder="输入新个性签名">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                        提交更改
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                单词书
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>单词书</th>
                        <th>单词数</th>
                        <th>完成度</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>四级单词</td>
                        <td>4000</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    <span class="sr-only">40% 完成</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>托福单词</td>
                        <td>5000</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    <span class="sr-only">40% 完成</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <!--写到这里了，再添加一下单词书和单词本的模态框-->
                <a href="#" class="small" data-toggle="modal" data-target="#ChgBookSetInfo">编辑单词书</a>
                <div class="modal fade" id="ChgBookSetInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">

                                </h4>
                            </div>
                            <div class="modal-body">
                                在这里添加一些文本
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                                <button type="button" class="btn btn-primary">
                                    提交更改
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                单词本
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>单词本</th>
                        <th>创建时间</th>
                        <th>单词数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>三月错词本</td>
                        <td>2019/03</td>
                        <td>55</td>
                    </tr>
                    <tr>
                        <td>托福错词本</td>
                        <td>2019/01</td>
                        <td>77</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <a href="#" class="small">编辑单词本</a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        ©2019 Zheng Xuanci. All rights reserved.
    </div>
</div>
</body>
</html>