<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <script src="/static/plugin/jquery-3.4.0.min.js"></script>
    <script src="/static/plugin/jquery.cookie.js"></script>
    <script src="/static/js/login_register.js"></script>
</head>
<body>
<div class="login_box">
    <div class="login">
        <div class="login_logo ">
            <img src="/static/images/user_logo.png">
        </div>
        <div class="login_name">
            <img src="/static/images/logo.jpg"/>
        </div>
        <form method="post">
            <div class="form-group">
                <input name="username" type="text" class="form-control" placeholder="用户名" id="edt_username"/>
                <input name="password" type="password" class="form-control" placeholder="密码" id="edt_password"/>
                <input value="登录" type="button" class="btn btn-primary" id="btn_submit" onclick="submit_login()"/>
            </div>
            <a href="/register">注册账号</a>
        </form>
    </div>
</div>
</body>
</html>