<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vocabulary book</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <script src="/static/plugin/jquery-3.4.0.min.js"></script>
    <script src="/static/plugin/jquery.cookie.js"></script>
    <script src="/static/plugin/bootstrap.min.js"></script>
    <script src="/static/js/homepage.js"></script>
    <script src="/static/js/Vbooknote.js"></script>
</head>
<body onload="initial_vnavbar()">
<div class="container">
    <!--导航栏-->
    <div class="navbar navbar-default">
        <div class="col-md-2">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><img src="/static/images/logo_tran.jpg"/></a>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a onclick="openvbook()">单词书</a></li>
                <li><a onclick="openvnote()">单词本</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">退出登录</a></li>
                <li><a href="/homepage/"><p id="txt_username">用户名</p></a></li>
                <li><a href="/homepage/"><img src="/static/images/user_default.jpg" class="img-circle img-userlogo"
                                              id="img_icon"/></a></li>
            </ul>
        </div>
    </div>
    <!--内容部分-->
    <div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        {{ bookNowName }}
                    </div>
                </div>
                <div class="panel-body">
                    <div style=" overflow-y:auto; overflow-x:auto;  height:400px;">
                        <ul class="list-group" id="wordlist">
                            {% for i in word_list %}
                                {% if i == wordNowSpell %}
                                    <li class="list-group-item list-group-item-success" id="selected"><a onclick="jmp2word('{{ i }}')">{{ i }}</a></li>
                                {% else %}
                                    <li class="list-group-item" id="{{ i }}"><a onclick="jmp2word('{{ i }}')">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <!--li class="list-group-item"><a href="#">List1</a></li>
                            <li class="list-group-item"><a href="#">List2</a></li>
                            <li class="list-group-item list-group-item-success"><a href="#">List3</a></li>
                            <li class="list-group-item"><a href="#">List4</a></li>
                            <li class="list-group-item"><a href="#">List5</a></li>
                            <li class="list-group-item"><a href="#">List6</a></li>
                            <li class="list-group-item"><a href="#">List7</a></li>
                            <li class="list-group-item"><a href="#">List8</a></li>
                            <li class="list-group-item"><a href="#">List9</a></li>
                            <li class="list-group-item"><a href="#">List10</a></li>
                            <li class="list-group-item"><a href="#">List11</a></li>
                            <li class="list-group-item"><a href="#">List12</a></li>
                            <li class="list-group-item"><a href="#">List13</a></li>
                            <li class="list-group-item"><a href="#">List14</a></li>
                            <li class="list-group-item"><a href="#">List15</a></li-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--div class="text-justify">本书完成进度</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                     aria-valuemin="0" aria-valuemax="100" style="width: {{ bookNowFinish }}%;">
                    <span class="sr-only">40% 完成</span>
                </div>
            </div-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        单词闯关
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">单词读音</label>
                            <div class="col-md-10">
                                <audio controls id="voice_test">
                                    <source src="http://dict.youdao.com/dictvoice?audio={{ wordNowSpell }}"
                                            type="audio/mpeg">
                                    <source src="http://dict.youdao.com/dictvoice?audio={{ wordNowSpell }}"
                                            type="audio/ogg">
                                    <embed height="50" width="100"
                                           src="http://dict.youdao.com/dictvoice?audio={{ wordNowSpell }}">
                                </audio>
                            </div>
                        </div>
                        <div class="form-group" id="show_spell_result">
                            <label class="col-md-2 control-label">单词拼写</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="请输入正确拼写" id="edt_spell"/>
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-primary" value="提交拼写" onclick="check_spell()"/>
                            </div>
                        </div>
                        <div class="form-group" id="show_mean_result">
                            <label class="col-md-2 control-label">词义选择</label>
                            <div class="col-md-7" id="radio_group">
                                {% for i in SelectMeanList %}
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" value="{{ i }}"/>{{ i }}
                                    </div>
                                {% endfor %}
                                <!--div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                                               checked> 词义1
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        词义2
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        词义3
                                    </label>
                                </div-->
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-primary" value="提交选项" onclick="check_mean()"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <a href="#" class="small" data-toggle="modal" data-target="#ChgNoteSetInfo" onclick="Init_Add2Note_popwindows()">添加到单词本</a>
                    <div class="modal fade" id="ChgNoteSetInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    编辑单词本
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            已创建单词本
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div style=" overflow-y:auto; overflow-x:auto;  height:100px;">
                                            <div class="list-group" id="table_have_note">
                                                <!--div>
                                                    <div class="col-xs-8">四级错词</div>
                                                    <div class="col-xs-4"><button class='btn btn-xs' onclick=''>&times;</button></div>
                                                </div>
                                                <div>
                                                    <div class="col-xs-8">三月单词</div>
                                                    <div class="col-xs-4"><button class='btn btn-xs' onclick=''>&times;</button></div>
                                                </div-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <form role="form">
                                        <div class="form-group">
                                            <label>新建单词本</label>
                                            <input type="text" class="form-control" placeholder="输入单词本名" id="newnote">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    关闭
                                </button>
                                <button type="button" class="btn btn-primary" onclick="add_note('{{ wordNowSpell }}')">
                                    创建
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                    <a class="small" onclick="show_answer()">显示含义</a>
                    <a class="small" onclick="hidden_answer()">隐藏含义</a>
                </div>
            </div>
            <ul class="pager">
                <li><a onclick="move2last()">上一个词</a></li>
                <li><a onclick="move2next()">下一个词</a></li>
            </ul>
            <div class="panel panel-default" id="answer">
                <div class="panel-heading">
                    <div class="panel-title">
                        单词详解
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">单词拼写</label>
                            <div class="col-md-10">
                                <p id="real_spell">{{ wordNowSpell }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">单词读音</label>
                            <div class="col-md-10">
                                <audio controls id="real_voice">
                                    <source src="http://dict.youdao.com/dictvoice?audio={{ wordNowSpell }}"
                                            type="audio/mpeg">
                                    <source src="http://dict.youdao.com/dictvoice?audio={{ wordNowSpell }}"
                                            type="audio/ogg">
                                    <embed height="50" width="100"
                                           src="http://dict.youdao.com/dictvoice?audio={{ wordNowSpell }}">
                                </audio>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">单词释义</label>
                            <div class="col-md-10">
                                <p id="real_mean">{{ wordNowMean }}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <a class="small" onclick="hidden_answer()">隐藏</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        书架
                    </div>
                </div>
                <div class="panel-body">
                    <div style=" overflow-y:auto; overflow-x:auto;  height:400px;">
                        <ul class="list-group">
                            {% for i in booklist %}
                                {% if i == bookNowName %}
                                    <li class="list-group-item list-group-item-success"><a
                                            href="/vocabubook/{{ userid }}/{{ i }}/">{{ i }}</a></li>
                                {% else %}
                                    <li class="list-group-item"><a href="/vocabubook/{{ userid }}/{{ i }}/">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <!--li class="list-group-item"><a href="#">四级单词</a></li>
                            <li class="list-group-item"><a href="#">六级单词</a></li>
                            <li class="list-group-item list-group-item-success"><a href="#">托福单词</a></li-->
                        </ul>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="#" class="small" data-toggle="modal" data-target="#ChgBookSetInfo"
                       onclick="Init_book_popwindows()">编辑书架</a>
                    <div class="modal fade" id="ChgBookSetInfo" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        编辑单词书
                                    </h4>
                                </div>
                                <!--div class="modal-body"-->
                                <div>
                                    <div class="col-lg-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    已添加单词书
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div style=" overflow-y:auto; overflow-x:auto;  height:100px;">
                                                    <div class="list-group" id="table_have_book">
                                                        <!--div>
                                                            <div class="col-xs-8">四级单词</div>
                                                            <div class="col-xs-4"><a>&times;</a></div>
                                                        </div>
                                                        <div>
                                                            <div class="col-xs-8">六级单词</div>
                                                            <div class="col-xs-4"><a>&times;</a></div>
                                                        </div-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    未添加单词书
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div style=" overflow-y:auto; overflow-x:auto;  height:100px;">
                                                    <div class="list-group" id="table_unhave_book">
                                                        <!--div>
                                                            <div class="col-xs-8">托福单词</div>
                                                            <div class="col-xs-4"><a>+</a></div>
                                                        </div>
                                                        <div>
                                                            <div class="col-xs-8">雅思单词</div>
                                                            <div class="col-xs-4"><a>+</a></div>
                                                        </div-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        关闭
                                    </button>
                                    <!--button type="button" class="btn btn-primary">
                                        提交更改
                                    </button-->
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        ©2019 Zheng Xuanci. All rights reserved.
    </div>
</div>
</body>
</html>