<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vocabulary note</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <script src="/static/plugin/jquery-3.4.0.min.js"></script>
    <script src="/static/plugin/jquery.cookie.js"></script>
    <script src="/static/plugin/bootstrap.min.js"></script>
    <script src="/static/js/homepage.js"></script>
    <script src="/static/js/Vbooknote.js"></script>
</head>
<body onload="initial_vnavbar()">
<div class="container">
    <!--导航栏-->
    <div class="navbar navbar-default">
        <div class="col-md-2">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><img src="/static/images/logo_tran.jpg"/></a>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav navbar-nav navbar-left">
                <li><a onclick="openvbook()">单词书</a></li>
                <li class="active"><a onclick="openvnote()">单词本</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login">退出登录</a></li>
                <li><a href="/homepage/"><p id="txt_username">用户名</p></a></li>
                <li><a href="/homepage/"><img src="/static/images/user_default.jpg" class="img-circle img-userlogo" id="img_icon"/></a></li>
            </ul>
        </div>
    </div>
    <!--内容部分-->
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        三月错词本
                    </div>
                </div>
                <div class="panel-body">
                    <div style=" overflow-y:auto; overflow-x:auto;  height:400px;">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">apple</a></li>
                            <li class="list-group-item"><a href="#">banana</a></li>
                            <li class="list-group-item list-group-item-success"><a href="#">pear</a></li>
                            <li class="list-group-item"><a href="#">orange</a></li>
                            <li class="list-group-item"><a href="#">melon</a></li>
                            <li class="list-group-item"><a href="#">lemon</a></li>
                            <li class="list-group-item"><a href="#">strawberry</a></li>
                            <li class="list-group-item"><a href="#">watermelon</a></li>
                            <li class="list-group-item"><a href="#">blueberry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-justify">单词本完成进度</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                     aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                    <span class="sr-only">40% 完成</span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        单词闯关
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">单词读音</label>
                            <div class="col-md-10">
                                <audio controls>
                                    <source src="http://dict.youdao.com/dictvoice?audio=apple" type="audio/mpeg">
                                    <source src="http://dict.youdao.com/dictvoice?audio=apple" type="audio/ogg">
                                    <embed height="50" width="100" src="http://dict.youdao.com/dictvoice?audio=apple">
                                </audio>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">单词拼写</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="请输入正确拼写"/>
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-primary" value="提交拼写"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">词义选择</label>
                            <div class="col-md-7">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                                               checked> 词义1
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        词义2
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        词义3
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-primary" value="提交选项"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <a href="#" class="small">添加至其他单词本</a>
                    <a href="#" class="small">从单词本中删除</a>
                    <a href="#" class="small">显示含义</a>
                </div>
            </div>
            <ul class="pager">
                <li><a href="#">上一个词</a></li>
                <li><a href="#">下一个词</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        单词详解
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">单词拼写</label>
                            <div class="col-md-10">
                                <p>apple</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">单词读音</label>
                            <div class="col-md-10">
                                <audio controls>
                                    <source src="http://dict.youdao.com/dictvoice?audio=apple" type="audio/mpeg">
                                    <source src="http://dict.youdao.com/dictvoice?audio=apple" type="audio/ogg">
                                    <embed height="50" width="100" src="http://dict.youdao.com/dictvoice?audio=apple">
                                </audio>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">单词释义</label>
                            <div class="col-md-10">
                                <p>
                                    苹果呀呀呀呀呀呀晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕晕
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <a href="#" class="small">隐藏</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        单词本背包
                    </div>
                </div>
                <div class="panel-body">
                    <div style=" overflow-y:auto; overflow-x:auto;  height:400px;">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">三月错词本</a></li>
                            <li class="list-group-item"><a href="#">四月错词本</a></li>
                            <li class="list-group-item list-group-item-success"><a href="#">托福错词本</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="#" class="small">编辑</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        ©2019 Zheng Xuanci. All rights reserved.
    </div>
</div>
</body>
</html>